<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/index.css" />
    <title>留言板</title>
    <script type="text/javascript">

    function method(){
			var color="#";
			for(var i=0;i<6;i++){
				color += (Math.random()*16 | 0).toString(16);
			}
			return color;}

    </script>
</head>

<body>

    <div class=" mian display-1">
        当前用户:{{ user }}
        <div class="text-right">
        <a href="/user">个人中心</a>
        <a href="/logout">退出登录</a>
        </div>
    </div>


<h1 class="text-center display-2">
    <strong>留言板</strong>
</h1>


<div class="text-center">
<form action="/" method="post">
       
    <textarea class="form" name="Content" ></textarea>
    <br>
    <input class="btn btn-secondary"  name="提交留言" type="submit" value="提交留言">

</form>

</div>
<br>

<div class="list-group">
    
        {% for message in message_list %}
        <div class="list-group-item">
            <h5 class="username">{{ message.name }}</h5>
            <div class="text-right">{{ message.time }}</div>
            <p>{{ message.content }}</p>
            
            
            
        </div>
        {% endfor %}
</div>



</body>


</html>